<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>College Predictor - Free counselling tools for generating college list</title>
        <meta name="author" content="Sarvesh Singh Chauhan">
        <meta name="description"
          content="College Predictor is a free website that generates a list of colleges based on JEE Mains and Advanced ranks. It also converts general ranks to category ranks and provides news articles. Find the best colleges for your JEE rank today!">
        <meta name="keywords"
          content="college predictor, JEE rank, college list, general rank converter, JEE mains news, free college predictor, college predictor jee, college predictor jee mains, college predictor jee advanced, college predictor csab, JEE college predictor tool, Engineering college predictor, Rank vs college predictor, JEE mains rank converter, JEE advanced college predictor, JEE main college predictor, Best college predictor for JEE, JEE mains college list, JEE mains news and updates, CSAB counselling, JEE counselling process, JEE seat allotment results, JEE college-wise cutoff, JEE college comparison tool, JEE college ranking list, JEE college admission process">
      
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      
        <link rel="icon" type="image/x-icon" href="assets/logo_dark.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      
        <link href="css/styles.css" rel="stylesheet" />
      
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-J2ZVEKTD33"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
      
          function gtag() {
            dataLayer.push(arguments);
          }
      
          gtag('js', new Date());
      
          gtag('config', 'G-J2ZVEKTD33');
        </script>
      
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7728305301915307"
          crossorigin="anonymous"></script>
      
        <meta name="google-site-verification" content="5q2gJu6qpX8QhgHNX7lI6oRJQaTShj3Q4Y85WnfOLbM" />
    </head>
<body>
    <div class="container">
        <div class="col">
            <div class="row">
                <h2 class="text-center">college grouping</h2>
                <div class="container col-md-4">
                    <h3>IIT 1</h3>
                    <ol>
                        <li>iit a <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit b <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit c <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit d <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                    </ol>
                </div>
                <div class="container col-md-4">
                    <h3>IIT 2</h3>
                    <ol>
                        <li>iit e <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit f <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit g <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit h <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                    </ol>
                </div>
                <div class="container col-md-4">
                    <h3>IIT 3</h3>
                    <ol>
                        <li>iit i <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit j <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit k <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                        <li>iit l <a class="btn bg-success m-1" onclick="">Up</a><a class="btn bg-success m-1" onclick="">Down</a><a class="btn bg-success m-1" onclick="">Remove</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>