{% extends 'base.html' %}

{% block content %}
    <header id="header" class="header">
        <nav class="navbar navbar-expand-lg navbar-dark shadow p-0">
          <div class="container-fluid">
            <a class="navbar-brand fw-bold m-1" href="index.html" style="font-size: 1.8rem;">
              <img src="assets/logo_light.png" alt="Logo" width="40" height="40"
                class="d-inline-block align-text-top ms-2 me-2" />College
              Predictor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="index.html">College Predictor</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" aria-current="page" target="_blank" href="counselling.html">Counselling Tools</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#FAQ">FAQ</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Engineering
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Top IIT</a></li>
                    <li><a class="dropdown-item" href="#">Top NIT</a></li>
                    <li><a class="dropdown-item" href="#">Top IIIT</a></li>
                    <li><a class="dropdown-item" href="#">Top Govt Colleges</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Top Private Colleges</a></li>
                  </ul>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#footer">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-5">JEE Mains Chemistry Syllabus</h1>
            </div>
        </div>


        <div class="container-fluid my-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-3" style="background-color: #F8F9FA; font-size: smaller;">
                        <h4 class="mb-4" style="color: #007BFF;">Class 11 Chemistry (Total weightage: 20-25%)</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><span style="color: #17A2B8;">Basic Concepts of Chemistry:</span> 2-3%</li>
                                    <li><span style="color: #17A2B8;">Structure of Atom:</span> 1-2%</li>
                                    <li><span style="color: #17A2B8;">Classification of Elements and Periodicity in Properties:</span> 1-2%</li>
                                    <li><span style="color: #17A2B8;">Chemical Bonding and Molecular Structure:</span> 1-2%</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><span style="color: #17A2B8;">States of Matter: Gases and Liquids:</span> 1-2%</li>
                                    <li><span style="color: #17A2B8;">Thermodynamics:</span> 1-2%</li>
                                    <li><span style="color: #17A2B8;">Equilibrium:</span> 4-5%</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card p-3" style="background-color: #F8F9FA; font-size: smaller;">
                        <h4 class="mb-4" style="color: #007BFF;">Class 12 Chemistry (Total weightage: 75-80%):</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><span style="color: #17A2B8;">Solid State:</span> 1-2%</li>
                                    <li><span style="color: #17A2B8;">Solutions:</span> 2-3%</li>
                                    <li><span style="color: #17A2B8;">Electrochemistry:</span> 3-4%</li>
                                    <li><span style="color: #17A2B8;">Chemical Kinetics:</span> 3-4%</li>
                                    <li><span style="color: #17A2B8;">Surface Chemistry:</span> 1-2%</li>
                                    <li><span style="color: #17A2B8;">General Principles and Processes of Isolation of Elements:</span> 2-3%</li>
                                    <li><span style="color: #17A2B8;">p-Block Elements:</span> 5-6%</li>
                                    <li><span style="color: #17A2B8;">d- and f-Block Elements:</span> 4-5%</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><span style="color: #17A2B8;">Coordination Compounds:</span> 4-5%</li>
                                    <li><span style="color: #17A2B8;">Haloalkanes and Haloarenes:</span> 2-3%</li>
                                    <li><span style="color: #17A2B8;">Alcohols, Phenols, and Ethers:</span> 4-5%</li>
                                    <li><span style="color: #17A2B8;">Aldehydes, Ketones and Carboxylic Acids:</span> 3-4%</li>
                                    <li><span style="color: #17A2B8;">Organic Compounds Containing Nitrogen:</span> 3-4%</li>
                                    <li><span style="color: #17A2B8;">Polymers:</span> 3-4%</li>
                                    <li><span style="color: #17A2B8;">Biomolecules:</span> 2-3%</li>
                                    <li><span style="color: #17A2B8;">Chemistry in Everyday Life:</span> 2-3%</li>
                                </ol>
                            </div>
                            <p class="mt-3" style="font-size: 0.8rem; color: #6C757D;">It is important to note that the
                                weightage can vary every year and these are just approximate values. Therefore, it is
                                recommended to cover all the topics thoroughly to increase the chances of scoring well
                                in
                                JEE Main Physics.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row align-items-stretch d-flex">
            <div class="col-md-3 mb-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Some Basic Concepts of Chemistry</h5>
                        <ol>
                            <li>Importance of Chemistry</li>
                            <li>Nature of Matter</li>
                            <li>Properties of Matter and their Measurement</li>
                            <li>Atomic and Molecular Weights</li>
                            <li>Mole Concept and Molar Masses</li>
                            <li>Percentage Composition</li>
                            <li>Empirical and Molecular Formula</li>
                            <li>Stoichiometry and Stoichiometric Calculations</li>
                        </ol>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Weightage: 5%</small>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Structure of Atom</h5>
                        <ol>
                            <li>Discovery of Electron, Proton, and Neutron</li>
                            <li>Atomic Models</li>
                            <li>Atomic Number, Mass Number, Isotopes</li>
                            <li>Hydrogen Spectrum</li>
                            <li>Bohr's Model and its Limitations</li>
                            <li>Quantum Mechanical Model of Atom</li>
                            <li>Electronic Configuration of Atoms</li>
                            <li>Pauli's Exclusion Principle, Hund's Rule of Maximum Multiplicity, Aufbau Principle</li>
                        </ol>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Weightage: 5%</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">States of Matter: Gases and Liquids</h5>
                        <ol>
                            <li>Three states of matter</li>
                            <li>Intermolecular interactions</li>
                            <li>Types of bonding</li>
                            <li>Effect of pressure and temperature on gases and liquids</li>
                        </ol>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Weightage: 5%</small>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Classification of Elements and Periodicity in Properties</h5>
                        <ol>
                            <li>Modern Periodic Law and Long-form of the Periodic Table</li>
                            <li>Types of Elements: s, p, d, and f Block</li>
                            <li>Periodic Trends in Properties: Atomic Radius, Ionization Energy, Electron Affinity,
                                Electronegativity</li>
                            <li>Effective Nuclear Charge</li>
                            <li>Hydrogen and its Compounds</li>
                            <li>Alkali Metals, Alkaline Earth Metals, and their Compounds</li>
                            <li>Boron Family, Carbon Family, Nitrogen Family, Oxygen Family, Halogens, Noble Gases</li>
                            <li>Electronic Configurations and General Characteristics of the Elements</li>
                        </ol>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Weightage: 5%</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Thermodynamics</h5>
                        <ol>
                            <li>Thermal equilibrium</li>
                            <li>Zeroth law of thermodynamics</li>
                            <li>Heat, work, and internal energy</li>
                            <li>First law of thermodynamics</li>
                            <li>Specific heat capacity and latent heat</li>
                            <li>Thermal expansion</li>
                            <li>Second law of thermodynamics</li>
                            <li>Carnot engine and its efficiency</li>
                        </ol>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Kinetic Theory of Gases</h5>
                        <ol>
                            <li>Gas laws</li>
                            <li>Kinetic theory of gases</li>
                            <li>Molecular speeds and distribution of speeds</li>
                            <li>Mean free path</li>
                            <li>Avogadro's number and Avogadro's hypothesis</li>
                            <li>Ideal gas equation</li>
                            <li>Kinetic interpretation of temperature</li>
                        </ol>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Properties of Solids and Liquids</h5>
                        <ol>
                            <li>Elastic behavior</li>
                            <li>Stress and strain</li>
                            <li>Hooke's law</li>
                            <li>Young's modulus</li>
                            <li>Bulk modulus</li>
                            <li>Shear modulus</li>
                            <li>Surface energy and surface tension</li>
                            <li>Viscosity</li>
                            <li>Bernoulli's theorem and its applications</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Thermodynamics</h5>
                        <ol>
                            <li>Thermal equilibrium</li>
                            <li>Zeroth law of thermodynamics</li>
                            <li>Heat, work, and internal energy</li>
                            <li>First law of thermodynamics</li>
                            <li>Specific heat capacity and latent heat</li>
                            <li>Thermal expansion</li>
                            <li>Second law of thermodynamics</li>
                            <li>Carnot engine and its efficiency</li>
                        </ol>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Kinetic Theory of Gases</h5>
                        <ol>
                            <li>Gas laws</li>
                            <li>Kinetic theory of gases</li>
                            <li>Molecular speeds and distribution of speeds</li>
                            <li>Mean free path</li>
                            <li>Avogadro's number and Avogadro's hypothesis</li>
                            <li>Ideal gas equation</li>
                            <li>Kinetic interpretation of temperature</li>
                        </ol>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Chemical Bonding and Molecular Structure</h5>
                        <ol>
                            <li>Kossel-Lewis approach to chemical bonding</li>
                            <li>Ionic and covalent bonding</li>
                            <li>Molecular orbital theory</li>
                            <li>VSEPR theory and shape of molecules</li>
                        </ol>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Weightage: 5%</small>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer text-center text-light">
            <div class="container">
                <div class="row">
                    <!-- Footer Social Icons-->
                    <div class="col-lg-12 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-twitter"></i>
                        </a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#">
                            <i class="fab fa-fw fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
          </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
{% endblock %}